/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Montserrat Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600;700;800;900&display=swap');


/* ==================== GRID BOOSTRAP STYLE CSS AREA ==================== */

/*Estils genèrics de qualsevol projecte*/
*{box-sizing:border-box;}

/* Sistema 12 columnes */
[class*="col-"]{
	float:left;
	width:100%;
	/* border:1px solid red; */
	padding:10px;
}

[class*="d-"]{
	display:block;
}


/* smartphones, iPhone, portrait 480x320 phones */
@media (min-width:280px) {
	.col-xs-1 {width: 8.33%;}
	.col-xs-2 {width: 16.66%;}
	.col-xs-3 {width: 25%;}
	.col-xs-4 {width: 33.33%;}
	.col-xs-5 {width: 41.66%;}
	.col-xs-6 {width: 50%;}
	.col-xs-7 {width: 58.33%;}
	.col-xs-8 {width: 66.66%;}
	.col-xs-9 {width: 75%;}
	.col-xs-10 {width: 83.33%;}
	.col-xs-11 {width: 91.66%;}
	.col-xs-12 {width: 100%;}

	.d-xs-none{display:none;}
	.d-xs-block{display:block;}

}

/* portrait e-readers (Nook/Kindle),
smaller tablets @ 600 or @ 640 wide.*/
@media (min-width:481px) {}

/* portrait tablets, portrait iPad, landscape e-readers,
 landscape 800x480 or 854x480 phones */
@media (min-width:641px) {
	.col-sm-1 {width: 8.33%;}
	.col-sm-2 {width: 16.66%;}
	.col-sm-3 {width: 25%;}
	.col-sm-4 {width: 33.33%;}
	.col-sm-5 {width: 41.66%;}
	.col-sm-6 {width: 50%;}
	.col-sm-7 {width: 58.33%;}
	.col-sm-8 {width: 66.66%;}
	.col-sm-9 {width: 75%;}
	.col-sm-10 {width: 83.33%;}
	.col-sm-11 {width: 91.66%;}
	.col-sm-12 {width: 100%;}

	.d-sm-none{display:none;}
	.d-sm-block{display:block;}
}

/* tablet, landscape iPad,
 lo-res laptops ands desktops */
@media (min-width:961px) {
	.col-md-1 {width: 8.33%;}
	.col-md-2 {width: 16.66%;}
	.col-md-3 {width: 25%;}
	.col-md-4 {width: 33.33%;}
	.col-md-5 {width: 41.66%;}
	.col-md-6 {width: 50%;}
	.col-md-7 {width: 58.33%;}
	.col-md-8 {width: 66.66%;}
	.col-md-9 {width: 75%;}
	.col-md-10 {width: 83.33%;}
	.col-md-11 {width: 91.66%;}
	.col-md-12 {width: 100%;}

	.d-md-none{display:none;}
	.d-md-block{display:block;}
}

/* big landscape tablets, laptops, and desktops */
@media (min-width:1025px) {
	.col-lg-1 {width: 8.33%;}
	.col-lg-2 {width: 16.66%;}
	.col-lg-3 {width: 25%;}
	.col-lg-4 {width: 33.33%;}
	.col-lg-5 {width: 41.66%;}
	.col-lg-6 {width: 50%;}
	.col-lg-7 {width: 58.33%;}
	.col-lg-8 {width: 66.66%;}
	.col-lg-9 {width: 75%;}
	.col-lg-10 {width: 83.33%;}
	.col-lg-11 {width: 91.66%;}
	.col-lg-12 {width: 100%;}

	.d-lg-none{display:none;}
	.d-lg-block{display:block;}
}

/* hi-res laptops and desktops */
@media (min-width:1281px) {}

/* =============================== STYLES CSS AREA =============================== */

/* header */
header{
    border-bottom: 1px solid rgba(87, 87, 87, 0.5);
}

.header__img{
    width: 100%;
    height: 40px;
    /* margin-left: 13em; */
    /* border: 1px solid red; */
}

.header__emptyBox{
    padding: 1px;
}

.header__search{
    width: 100%;
    border: none;
    padding: 10px;
    border-radius: 5px;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 300;
    background-color: rgba(200,200,200,0.2);
}

/* main */

.main__container{
    border-bottom: 1px solid rgba(87, 87, 87, 0.5);
    padding: 1px;
    min-height: 600px;
    max-height: 600px;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
}
.main__tools{
    padding: 1px;
    border-bottom: 1px solid rgba(87, 87, 87, 0.5);
    flex-direction: column;
}

.main__mailArticle{
    border: 1px solid rgba(87, 87, 87,0.2);
    padding: 5px 0;
    border-top: none;
    flex-direction: column;
    cursor: pointer;
}
.main__mailArticle:hover{
    box-shadow: 3px 3px 10px rgba(190,180,170,0.5);
}
.star {
    visibility:hidden;
    /* display: none; */
    font-size:25px;
    color: rgba(87, 87, 87, 0.5);
    cursor:pointer;
}.star:before {
    content: "\2605";
    visibility:visible;
    position: relative;
    top: -100%;
    left: -31%;
}
.star:checked:before {
    content: "\2606";
}
.delete {
    visibility:hidden;
    /* display: none; */
    font-size:25px;
    color: rgba(87, 87, 87, 0.5);
    cursor:pointer;
}.delete:before {
    content: "\2718";
    visibility:visible;
    position: relative;
    top: -100%;
    left: -31%;
}
.delete:active:before {
    content: "\2718";
    color: rgba(44, 44, 44, 0.651) ;
}

.text{
    font-weight: 600;
    margin: 0 10px;
    display: inline;
    font-family: 'Montserrat', sans-serif;
}
#first{
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 16px;
}
#second{
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 14px;
}
#third{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: rgb(99, 98, 97);
    overflow: hidden;
    height: 35px;
}

/* Content Mail focus Area */
.divHeader{
    width: 100%;
    height: 150px;
    background-color: #B83434;
}
.h1Title{margin: 35px 0 0 20px;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 700;
    text-align: center;
}
.spaceDiv{
    height: 100px;
}
.paragraphText{
    margin: 0 20px;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    /* justify-content: space-around; */
}
.imgMainMail{
    margin: 10px 100px;
    width: 900px;
    height: 300px;
}
.divFooter{
    width: 100%;
    height: 150px;
    background-color: #B83434;
}

/*          VENTANA MODAL CSS STYLES AREA            */
.modal{
    width: 450px;
    display: flex;
    flex-direction: column;
    box-shadow: 5px 5px 10px rgba(190,180,170,0.7);
    position: absolute;
    top: 27%;
}
.headerCompose{
    background-color: rgb(77, 77, 84);
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    min-height: 3em;
    border-radius: 10px 10px 0 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.textTitle{
    margin: 15px 10px 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 600;
}
.cross{
    margin: 15px 10px;
    cursor: pointer;
}
.toInput{
    height: 3.5em;
    border: none;
    border-bottom: 1px solid rgba(190,180,170,0.3);
    outline: none;
}
.subjectInput{
    height: 3.5em;
    border: none;
    border-bottom: 1px solid rgba(190,180,170,0.3);
    outline: none;
}
.textareaCompose{
    height: 21em;
    resize: none;
    outline: none;
    border: none;
}
.sendButton{
    background-color: rgb(138, 37, 211);
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    width: 8em;
    margin: 5px 0px 25px 15px;
    height: 2.5em;
    border: none;
    border-radius: 3px;

}
/* aside */
aside{
    /* background-color: hotpink; */
    min-height: 600px;
    border-right: 1px solid rgba(87, 87, 87, 0.5);
    border-bottom: 1px solid rgba(87, 87, 87, 0.5);
}

.aside__sectionList li a{
    text-decoration: none;
    color: rgba(60,64,67,1);
}

.plus{
    align-items: center;
    margin: 0 15px;
    color: rgb(138, 37, 211);
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    /* width: 50%; */
}
.aside__text{
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    /* width: 50%; */
}

.aside__btn{
    box-shadow: 0 1px 2px 0 rgba(60,64,67,0.302), 0 1px 3px 1px rgba(60,64,67,0.149);
    align-items: center;
    background-color: #ffffff;
    border: none;
    border-radius: 24px;
    color: #3c4043;
    display: inline-flex;
    height: 50px;
    padding: 5px 0;
    margin: 15px;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 16px;
}
.aside__btn:hover{
    box-shadow: 1px 1px 20px rgb(200,200,200);
    background-color: rgba(190,180,170,0.1);
}
.aside__btn:focus{
    border: none;
    text-decoration: none;
    outline: none;
}

.aside__sections{
    padding: 3px;
}
.section__categories{
    padding: 10px 0;
    font-family: 'Montserrat', sans-serif;

}

.aside__sectionList li:focus ul{display:block;}

.aside__sectionList li:hover{
    background-color: rgba(212, 212, 216,0.3);
    box-shadow: 4px 4px 15px grey;
    border-radius: 0 25px 25px 0px;
    cursor: pointer;
}